body {
    background-image: url(imagens/fundo2.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cadastro .formcadastro{
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 5%;
}

#formcadastro{
    opacity: 1;
    align-items: center;
}
#imagemsetacadastro{
    width: 10%;
    height: 10%;
    align-items: center;
}

.buttoncadastro{
    background-color: rgb(12, 109, 53);
    border-radius: 500px;
    align-items: center;
    transition: 0.5s;
    border-style: none;
}

.buttoncadastro:hover{
    background-color: rgb(27, 139, 45);
}

.cadastro{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20%;
}

p{
    color: rgb(158, 150, 150);
}

img{
    mix-blend-mode: multiply;
}

input{
    background: rgba(0, 0, 0, 0.4);
}
