
body {
    padding: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(imagens/transferir.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    border-color: black;
    border-style: groove;
}


.usuariosenha{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3%;
}

#login{
    padding: 0%;
    border-radius: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}
.usuariosenha{
    text-align: center;
}
.roxo{
    border-style: groove;
    border-radius: 40px;
    border-color: blueviolet;
    background-color: blueviolet;
    color: black;
    cursor: pointer;
    margin: 5px;
    transition: 0.5s;
    font-size: 15px;
}
.roxo:hover{
    background-color: rgb(122, 80, 156);
    color: white;
}
.EsqueceuSenha2{
    background-color: white;
    text-align: center;
}
#ImgLogin{
    width: 25%;
}