
body {
    background-color: black;
    padding: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: #00bf63;
}

#EsqueceuSenhaimg {
    padding-left: 42%;
    padding-top: 1%;
}

.usuariosenha{
    background-color: white;
}

#login{
    padding: 0%;
    border-radius: 20px;
    margin-top: 20px;
}
.usuariosenha{
    text-align: center;
}
.roxo{
    border-style: groove;
    border-radius: 40px;
    border-color: blueviolet;
    background-color: blueviolet;
    color: black;
    cursor: pointer;
    margin: 5px;
    transition: 0.5s;
    font-size: 15px;
}
.roxo:hover{
    background-color: rgb(122, 80, 156);
    color: white;
}

.AJUSTAR{
    text-align: center;
    background-color: white;
}

.AJUSTAR2{
    text-align: center;
    background-color: white;
}
.EsqueceuSenha2{
    background-color: white;
    text-align: center;
}

#imgLogin{
    padding-left: 42%;
    padding-top: 1%;
}
