body{
    background-color: #00bf63;
}
.VERDE{
    background-color: #00bf63;
    padding: 10%;
}
.MAPA{
    background-color: aliceblue;
    align-content: center;

}
.black{
    color: rgb(0, 0, 0);
    align-se: center;
}
.right{
    align-items: end;
}
.flex1{
    flex: auto;
}
.pai{
position: relative;

}
.derecha{
    justify-content: right;

}
.img{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    align-items: center;
}
.img2{
    
    max-width: 100%;
    max-height: 100%;
}
.center{
    align-items: center;
}